.Profile {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Profile-image img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  cursor: pointer;
}

.Profile-drop-down {
  position: absolute;
  top: 5rem;
  left: -10rem;
  width: 15rem;
  background-color: var(--login-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
}

.Profile-drop-down ul {
  padding: 0;
}

.Profile-drop-down ul li {
  list-style-type: none;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.4s;
}

.Profile-drop-down ul li:hover {
  color: var(--color-white);
  background-color: var(--color-gray);
}

.hideMenu {
  display: none;
  animation: hideMenu 0.5s linear;
}

.showMenu {
  display: block;
  animation: showMenu 0.5s linear;
}

@keyframes hideMenu {
  from {
    top: 5rem;
    left: -10rem;
    opacity: 1;
  }

  to {
    top: 100%;
    left: -10rem;
    opacity: 0;
  }
}

@keyframes showMenu {
  from {
    top: 100%;
    left: -10rem;
    opacity: 0;
  }

  to {
    top: 5rem;
    left: -10rem;
    opacity: 1;
  }
}
