.Editor-main {
  width: 100vw;
  display: flex;
  align-items: stretch;
}

.Editor-questions {
  background-color: var(--color-white);
  width: 25%;
}

.Editor-questions-dark {
  background-color: var(--color-black);
  width: 25%;
}

.Editor-edit {
  background-color: var(--login-color);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Editor-edit-dark {
  background-color: var(--color-light-black);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Editor-question-params {
  background-color: var(--color-white);
  width: 15%;
}

.Editor-question-params-dark {
  background-color: var(--color-black);
  width: 15%;
}
