.Home {
  width: 100vw;
  height: 100vh;
}

.Home-mahoot {
  width: 50%;
  height: auto;
  margin: 5rem auto;
}

@media screen and (max-width: 2281px) {
  .Home-mahoot {
    width: 80%;
    height: auto;
    margin: 5rem auto;
  }
}

@media screen and (max-width: 956px) {
  .Home-mahoot {
    width: 100%;
    height: auto;
    margin: 5rem auto;
    padding: 1rem;
  }
}
