.PlayerCounter {
  width: 100%;
  background-color: var(--login-color);
  padding: 0rem 1rem;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}

.PlayerCounter-icon, .PlayerCounter-count{
  font-size: 6rem !important;
}
