@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
  --color-white: #ffffff;
  --main-color: #172774;
  --main-color-light: #566197;
  --login-color: #eeeeee;
  --color-black: #333333;
  --color-gray: #8a8a8a;
  --color-edit: #77d970;
  --color-alt-white: #f2f2f2;
  --color-exit: #FF0075;
}

html {
  font-size: 10px;
  font-family: "Itim", cursive;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.hide {
  display: none !important;
  opacity: 0;
}

a {
  text-decoration: none !important;
}
